*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
/* GLOBAL  */
    :root{
        --color-words: black;                           /*colore generico*/
        --back-color-header: rgb(180, 208, 231);        /*back-color header*/
        --link-radio-color:  rgb(0, 98, 255);           /*back-color bottoni*/
        --grey-border-p: rgb(208, 208, 211,0.6);        /*colore bordi 3 colonne e sezione sotto*/
    }
    .extreme-right-link{      /*si riferisce a tutti i "pulsanti" o link*/
        padding-right: 20px;
    }
    ul{
        margin-left: 32px;
    }
    .check i{
        color: var(--link-radio-color);  /* BACK-COLOR DELLE "V" CHECK */
    }
    img{
        display: block;
    }
/* FINE GLOBAL */

/* HEADER */
header{
    background-color: var(--back-color-header);
}
    /* inizio navbar */
    .navbar{
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        line-height: normal;
    }
    .nav-container{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    .right-nav-box,
    .left-nav-box
    {
        display: flex;
    }
    a .logo-img{
        width: 127px;
    }

    a, li{
        text-decoration: none;
        list-style: none;
        color: var(--color-words);
    }
    .link-space{
        margin-right: 43px;
    }
    .extreme-left-img{
        padding-left: 20px;
    }
    .extreme-right-link a{  /*ultimo link a destra della nav*/
        color: white;
        background-color: var(--link-radio-color);
        padding: 11px 17px;
    }
    .link-accedi{
        padding-right: 21px;
    }
    /* fine navbar */

    /* SECTION DELL'HEADER */
        /* section titolo */
    .header-section{
        display: flex;
        justify-content: center;    
    }
    .header-section-container{
        width: 1180px;
    }
    .header-title{
        padding-top:120PX;
    }
    .title{
        font-size: 74px;
        font-weight: 800px;
    }
        /* fine section titolo */
        /* inizio parte con paragrafo sotto titolo */
    .section-description{
        display: flex;
    }

    .p-description{
        margin-top: 62px;
        margin-bottom: 36px;
    }
    .p-section-disabonati{
        margin-top: 35px;
        margin-bottom: 76px;
    }
    span .fa-arrow-down{    /* freccia nell'header*/
        font-size: 42px;
        margin-bottom: 24px;
    }
    /* immagine destra header */
    .img-description{
        margin-top: 57px;
        margin-left: 39px;
    }
    .img-sec-right {
        width: 783px;
        position: relative;
    }
    .img-sec-right img{
        width: 100%;
        position: relative;
        position: absolute
       
    }
    /* immagine destra header */
    /* SECTION DELL'HEADER */

/* FINE HEADER */

/* MAIN */
    .main-section{
        width: 1000px;
        margin: auto;
        padding-top: 160px;
    }
    .main-title{
        font-size: 35px;
        margin-bottom: 63px;
    }
    .fa-circle-dot, .fa-circle{      /*gestione radio bottom*/
        margin-right: 7px;
    }
    .ico-button-radio-click{          /*gestione radio bottom*/
        margin-right: 50px;
    }
    .ico-button-radio-click .fa-circle-dot {          /*gestione radio bottom*/
        color:var(--link-radio-color);
    }
    .ico-button-radio .fa-circle {          /*gestione radio bottom*/
        color: rgb(177, 177, 177,0.8);
    }

    /* INIZIO DELLE 3 COLONNE  */
    .column-container{
        display: flex;
        margin: auto;
        margin-top: 53px;
    }
    .column-content{
        margin-left: 32px;
    }
    .column{
        width: 30%;
        border: 2px solid var(--grey-border-p);
    }
    .c-box{
        margin-right: 50px;
    }
    .type-of-comunity{      /*indica i 3 rettangoli all'apice delle colonne*/
        text-align: center;
        border-bottom: 2px solid rgb(208, 208, 211,0.6);
        padding: 14px 0;
    }
    /* PER GLI "UL" è generico in globale sotto body */
    /* GESTIONE MARGINI TRA DESCRIZIONE DELLE COLONNE  */
        .skill-desc{
            margin-top: 39px;
            font-size: 22px;
        }
        .money, .memory{
            margin-top: 27px;
            margin-bottom: 19px;
        }
        .time{
            margin-bottom: 57px;
            color: rgb(172, 172, 172);
        }
        .memory{
            margin-bottom: 27px;        /*icona della memoria*/
        }
        .share{
            margin-bottom: 54px;        /*icona del condividi*/
        }
        .button-desc{
            margin-bottom: 37px;
        }
        .buy-now{
            margin-bottom: 42px;     
        }
        .highlights-plan{
            margin-bottom: 38px;
        }
        .check{
            margin-bottom: 25px;    /*sono le "v" check sotto le colonne*/
        }

        .check i,
        .share i,
        .memory i,
        .type i{            /*questo "type i" fa parte della sezione orizzontale sotto*/
            margin-right: 6px;
        } 
    /* FINE GESTIONE MARGINI TRA DESCRIZIONE DELLE COLONNE  */
         .check, 
         .share, 
         .memory{
            display: flex;
        }
        .underline{
            text-decoration: underline;
            color: blue;
        }
            /* IL BACK-COLOR DELLE "V" CHECK è IN GLOBALE */
        .button-desc a{
            padding: 16px 41px;
        }
        .line{          /*linea orizzontale grigia sulle 3 colonne*/
            width: 48px;
            height: 2px;
            margin-left: 30px;
            margin-bottom: 55px;
            background-color: rgb(208, 208, 211,0.6);
        }
        .contact-link a{
            padding: 16px 86px;
        }
    /* FINE DELLE 3 COLONNE  */

    /* sezione verticale sotto le 3 colonne */
    .orizzonatal-section{
        width: 1000px;
        border: 2px solid var(--grey-border-p);
        margin: 0 auto;
        margin-top: 51px;
    }
    .team-box{
        padding: 14px 0;
        text-align: center;
        border-bottom: 2px solid var(--grey-border-p);
    }
    .skill-desc{
        display: flex;
    }
    .team-desc-link{
        font-size: 14px;
    }
    span .team-desc-link{
        margin-bottom: 55px;
    }
    .contact-team, 
    .team-list-specific-desc, 
    .team-title, .p-team-desc
    {
        margin-left: 34px;
    }
    .team-title{
        margin-right: 578px;
        margin-bottom: 21px;
    }
    .contact-team{
        margin-bottom: 55px;
    }
    .p-team-desc{
        margin-bottom: 31px;
    }
    /* fine sezione verticale sotto le 3 colonne */

    /* INIZIO SECTIO 3 */
    .section-three{
        display: flex;
        justify-content: center;
        padding-top: 150px;
    }
    .sec-3-container{
        display: flex;
        width: 1000px;
    }
    .img-section-container{
        width: 60%;
        margin-right: 51px;
    }
    .img-section-container img{
        width: 100%;
    }
    .central-section-p{
        margin-top: 59px;
    }
    .sec-3-title{                   /*titolo sezione*/
        font-size: 20px;
        margin-bottom: 21px;
    }
    .right-img-p-3{                 /*paragrafo sopra bottone al centro accanto alla foto*/
        margin-bottom: 35px;
    }
    .bottom-special-3-sec{          /*bottone accanto alla foto al centro*/
        padding: 15px;
        border: 1px solid black;
    }
    /* FINE SECTION 3 */

    /* INIZIO SECTION 4 */
        /* costruzione griglia */
    .grid-section-container{
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 1000px;
        margin-top: 160px;
    }
    .grid-title{            /*titolo griglia*/
        text-align: start;
        font-size: 33px;
    }
    .grid-box{
        width: 30%;
    
    }
    .space-grid-l-r{        /*margine dx e sx alle sezioni centrali 2-5*/
        margin: 0 50px;
    }
    .space-grid-b-t{    /*ho spaziato le griglie 1-2-3 */
        margin-bottom: 66px;
        margin-top: 80px;
    }
      /* fine costruzione griglia */
    .grid-box img{
        display: block;
        width: 100%;
    }
    .img-subtitle h4{
        font-size: 22px;
    }
    .subtitle-grid-sec-4 h3{
        font-size: 37px;
        margin-bottom: 66px;
    }
    .subtitle-grid-sec-4{
        margin-top: 215px;
    }
    /* FINE SECTION 4 */
    /* INIZIO SEZIONE 5 */
        /* gestione delle 2 griglie di quadrati */
        .five-sec-container{
            display: flex;
            margin-top: 152px;
        }
        .five-sec-content{
            display: flex;
            flex-wrap: wrap;
        }
        .central-five-sec-content img{
            display: block;
            width: 100%;
        }
        .central-five-sec-content{
            width: 150%;
            background-color: #f5f5f5;
        }
        .cit{       /*citazione sotto paragrafo*/
            margin-bottom: 55px;
        }
        .five-sec-content img{
            width: 100%;
            display: block;
            padding: 25%;
        }
        .box-four-img{
            width: 50%;
            fill: white;
        }
        .box-img-central img{
            padding-top: 25px;
            padding-right: 320px;
            padding-bottom: 49px;
        } 
        .box-img-central{
            padding-left: 50px;
        }
        .space-top-img img{
            padding-top: 35%;
        }
        .under-line-img-center{     /*linea sotto foto*/
            width: 150px;
            height: 2px;
            margin-bottom: 43px;
            background-color: rgb(208, 208, 211,0.6);
        }
            /* parte dedicata al backgrownd color delle immagini */
            .color-design-img{
                background-color: #a2d39b;
                border: 10px solid #d1e9cd;
            }
            .asu-img-colo{
                background-color: #61082b;
            }
            .florida-img-color{
                background-color: #0093ce;
            }
            .topps-img-color{
                background-color: #ff1c1c;
            }
            .bicycle-img-color{
                background-color: #d5001f;
            }
            .hearts-img-color{
                background-color: #b4d0e7;
            }
            .lonely-img-color{
                background-color: #0d2481;
            }
            .clear-img-color{
                background-color: #ffd830;
            }
            /* fine parte dedicata al backgrownd color delle immagini */
        /* fine gestione griglie dei 2 quadrati */
    /* FINE SEZIONE 5 */

/* FINE MAIN */

/* FOOTER */

/* FINE FOOTER */
