
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ANGOLO MEDIA QUERY */
/*******************************************************/
    /* media querys header */
    @import './_partials/header.css';
    /* fine media querys header */
    
/*******************************************************/
/* ANGOLO MEDIA QUERY */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

/* HOVER */
    /* hover border-bottom navbar */
    .b-bottom:hover{
        border-bottom:2px solid black;
    }
     /*fine hover border-bottom navbar */
    .hover-start-link:hover{
        opacity: 0.6;
    }
    .circle-hover:active{
        background-color: rgb(48, 48, 230);
        border-radius: 100%;
    }
        /* hover del chevron nella lista a "v" in basso*/
                                
        .section-quiz .chevron-hover{
            display: none;                  
        }
        .section-quiz:hover .chevron-hover{
            display: flex;
            justify-content: space-between;
        }
        .section-quiz:hover .hover-chev-ico{
            display: none;
        } 
        /* fine hover chevron */

    .hover-bott-3:hover{        /*hover del button accanto alla foto centrale*/
        background-color: #dbdbdba5;
        border: 3px solid black;
    }
    .butt-six-hover:hover{          /*hover del bottom sotto le 8 immagini */
        opacity: 0.7;
    }

/* HOVER */
/* GLOBAL  */
    :root{
        --color-words: black;                           /*colore generico*/
        --back-color-header: rgb(180, 208, 231);        /*back-color header*/
        --link-radio-color:  rgb(0, 98, 255);           /*back-color bottoni*/
        --grey-border-p: rgb(208, 208, 211,0.6);        /*colore bordi 3 colonne e sezione sotto*/
    }
    .extreme-right-link{      /*si riferisce a tutti i "pulsanti" o link*/
        padding-right: 20px;
    }
    ul{
        margin-left: 32px;
    }
    a, li{
        text-decoration: none;
        list-style: none;
        color: var(--color-words);
    }
    .check i{
        color: var(--link-radio-color);  /* BACK-COLOR DELLE "V" CHECK */
    }
    img{
        display: block;
    }
/* FINE GLOBAL */

/* HEADER */
header{
    background-color: var(--back-color-header);
    z-index: 1;
}
    /* inizio navbar */
        /* navbar e contenitore  */
    .navbar{
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
        line-height: 80px;
    }
    .navbar{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        /* navbar e contenitore  */
    .right-nav-box,
    .left-nav-box,
    .link-space
    {
        display: flex;
    }
    a .logo-img{
        width: 127px;
    }
    .b-bottom{
        border: 2px solid transparent;      /*per il border-bottom che all'hover diventa nero*/
    }
    .link-space{        /*riferito ai "li" tag della navbar*/
        margin-right: 43px;
        align-items: center;
    }
    .extreme-right-link a{  /*ultimo link a destra della nav*/
        color: white;
        background-color: var(--link-radio-color);
        padding: 11px 17px;
    }
    .link-accedi{
        padding-right: 21px;
    }
    /* fine navbar */
    
    /* SECTION DELL'HEADER */
        /* section titolo */
    .header-section{
        display: flex;
        justify-content: center;  
    }
    .header-title{
        padding-top:120PX;
    }
    .title{
        font-size: 74px;
        font-weight: 800px;
    }
        /* fine section titolo */
        /* inizio parte con paragrafo sotto titolo */
    .section-description{
        display: flex;
    }
    .description{
        position: relative;
        bottom: -13px;
    }
    .p-description{
        margin-top: 62px;
        margin-bottom: 36px;
    }
    .p-section-disabonati{
        margin-top: 35px;
        margin-bottom: 76px;
    }
    span .fa-arrow-down{    /* freccia nell'header*/
        font-size: 42px;
        margin-bottom: 24px;
    }
    /* immagine destra header */
    .img-sec-right {
        width: 783px;
        bottom: -70px;
        position: relative;
    }
    .img-sec-right img{
        width: 100%;
    }
    /* immagine destra header */
    /* SECTION DELL'HEADER */

/* FINE HEADER */
/* MAIN */
    .main-section{
        width: 1000px;
        margin: auto;
        padding-top: 160px;
    }
    .main-title{
        font-size: 35px;
        margin-bottom: 63px;
    }
    .fa-circle-dot, .fa-circle{      /*gestione radio bottom*/
        margin-right: 7px;
    }
    .ico-button-radio-click{          /*gestione radio bottom*/
        margin-right: 50px;
    }
    .ico-button-radio-click .fa-circle-dot {          /*gestione radio bottom*/
        color:var(--link-radio-color);
    }
    .ico-button-radio .fa-circle {          /*gestione radio bottom*/
        color: rgb(177, 177, 177,0.8);
    }

    /* INIZIO DELLE 3 COLONNE  */
    .column-container{
        display: flex;
        margin: auto;
        margin-top: 53px;
    }
    .column-content{
        margin-left: 32px;
    }
    .column{
        width: 30%;
        border: 2px solid var(--grey-border-p);
    }
    .c-box{
        margin-right: 50px;
    }
    .type-of-comunity{      /*indica i 3 rettangoli all'apice delle colonne*/
        text-align: center;
        border-bottom: 2px solid rgb(208, 208, 211,0.6);
        padding: 14px 0;
    }
    /* PER GLI "UL" è generico in globale sotto body */
    /* GESTIONE MARGINI TRA DESCRIZIONE DELLE COLONNE  */
        .skill-desc{
            margin-top: 39px;
            font-size: 22px;
        }
        .money, .memory{
            margin-top: 27px;
            margin-bottom: 19px;
        }
        .time{
            margin-bottom: 57px;
            color: rgb(172, 172, 172);
        }
        .memory{
            margin-bottom: 27px;        /*icona della memoria*/
        }
        .share{
            margin-bottom: 54px;        /*icona del condividi*/
        }
        .button-desc{
            margin-bottom: 37px;
        }
        .buy-now{
            margin-bottom: 42px;     
        }
        .highlights-plan{
            margin-bottom: 38px;
        }
        .check{
            margin-bottom: 25px;    /*sono le "v" check sotto le colonne*/
        }

        .check i,
        .share i,
        .memory i,
        .type i{            /*questo "type i" fa parte della sezione orizzontale sotto*/
            margin-right: 6px;
        } 
    /* FINE GESTIONE MARGINI TRA DESCRIZIONE DELLE COLONNE  */
         .check, 
         .share, 
         .memory{
            display: flex;
        }
        .underline{
            text-decoration: underline;
            color: blue;
        }
            /* IL BACK-COLOR DELLE "V" CHECK è IN GLOBALE */
        .button-desc a{
            padding: 16px 41px;
        }
        .line{          /*linea orizzontale grigia sulle 3 colonne*/
            width: 48px;
            height: 2px;
            margin-left: 30px;
            margin-bottom: 55px;
            background-color: rgb(208, 208, 211,0.6);
        }
        .contact-link a{
            padding: 16px 86px;
        }
    /* FINE DELLE 3 COLONNE  */

    /* sezione verticale sotto le 3 colonne */
    .orizzonatal-section{
        width: 1000px;
        border: 2px solid var(--grey-border-p);
        margin: 0 auto;
        margin-top: 51px;
    }
    .team-box{
        padding: 14px 0;
        text-align: center;
        border-bottom: 2px solid var(--grey-border-p);
    }
    .skill-desc{
        display: flex;
    }
    .team-desc-link{
        font-size: 14px;
    }
    span .team-desc-link{
        margin-bottom: 55px;
    }
    .contact-team, 
    .team-list-specific-desc, 
    .team-title, .p-team-desc
    {
        margin-left: 34px;
    }
    .team-title{
        margin-right: 578px;
        margin-bottom: 21px;
    }
    .contact-team{
        margin-bottom: 55px;
    }
    .p-team-desc{
        margin-bottom: 31px;
    }
    /* fine sezione verticale sotto le 3 colonne */

    /* INIZIO SECTIO 3 */
    .section-three{
        display: flex;
        justify-content: center;
        padding-top: 150px;
    }
    .sec-3-container{
        display: flex;
        width: 1000px;
    }
    .img-section-container{
        width: 60%;
        margin-right: 51px;
    }
    .img-section-container img{
        width: 100%;
    }
    .central-section-p{
        margin-top: 59px;
    }
    .sec-3-title{                   /*titolo sezione*/
        font-size: 20px;
        margin-bottom: 21px;
    }
    .right-img-p-3{                 /*paragrafo sopra bottone al centro accanto alla foto*/
        margin-bottom: 35px;
    }
    .bottom-special-3-sec{          /*bottone accanto alla foto al centro*/
        padding: 15px;
        border: 1px solid black;
    }
    /* FINE SECTION 3 */

    /* INIZIO SECTION 4 */
        /* costruzione griglia */
    .grid-section-container{
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 1000px;
        margin-top: 160px;
    }
    .grid-title{            /*titolo griglia*/
        text-align: start;
        font-size: 33px;
    }
    .grid-box{
        width: 30%;
    }
    .space-grid-l-r{        /*margine dx e sx alle sezioni centrali 2-5*/
        margin: 0 50px;
    }
    .space-grid-b-t{    /*ho spaziato le griglie 1-2-3 */
        margin-bottom: 66px;
        margin-top: 80px;
    }
      /* fine costruzione griglia */
    .grid-box img{
        display: block;
        width: 100%;
    }
    .img-subtitle h4{
        font-size: 22px;
    }
    .subtitle-grid-sec-4 h3{
        font-size: 37px;
        margin-bottom: 66px;
    }
    .subtitle-grid-sec-4{
        margin-top: 215px;
    }
    /* FINE SECTION 4 */
    /* INIZIO SEZIONE 5 */
    .five-sec-container{
        margin-top: 150px;
        display: flex;
        justify-content: center;
    }
     .box-container{
        display: flex;
        justify-content: center;
        height: calc(100vw / 3);
     }
     .box-content-six-sec{
        display: flex;
        overflow: hidden;
        width: 40%;
     }
     .column-six-sec{
        flex-wrap: wrap;
        width: 30%;
     }
     .big-central{
        display: flex;
        flex-direction: column;
        padding: 0 40px;
     }
     .box-content-six-sec{
        background-color: #f5f5f5;
     }
     .central-img img{
        width: 35%;
        margin-top: 30px;
        margin-bottom: 40px;
     }
     .cit{
        margin-bottom: 50px;
     }
     .p-cit{
        padding-bottom: 70px;
     }
     .florida-box{
        padding: 75px 0;
     }
     .box{
        width: calc(100% / 2);
        height: calc(100% / 2);
        display: flex;
     }
     .box img{
        width: 100%;
        padding: 40px;
        filter: brightness(0) invert(1);
     }
     .under-line-img-center{     /*linea sotto foto*/
        width: 90px;
        height: 2px;
        margin-bottom: 43px;
        background-color: rgb(208, 208, 211,0.6);
    }

    /* parte dedicata al backgrownd color delle immagini */
    .color-design-img{
        background-color: #a2d39b;
        border: 10px solid #d1e9cd;
    }
    .asu-img-colo{
        background-color: #61082b;
    }
    .florida-img-color{
        background-color: #0093ce;
    }
    .topps-img-color{
        background-color: #ff1c1c;
    }
    .bicycle-img-color{
        background-color: #d5001f;
    }
    .hearts-img-color{
        background-color: #b4d0e7;
    }
    .lonely-img-color{
        background-color: #0d2481;
    }
    .clear-img-color{
        background-color: #ffd830;
    }
    /* fine parte dedicata al backgrownd color delle immagini */
         /* FINE SEZIONE 5 */
       /* INIZIO SEZIONE 6 */
    .six-sec-content{
        display: flex;
        justify-content: space-around;
        background-color: #b4d0e7;
        padding: 100px 0;
    }
    .six-sec-content h3{
        color: #61082b;
        font-size: 35px;
    }
    .button-six-sec{
        background-color: white;
        padding: 15px 52px;
    }
    /* FINE SEZIONE 6 */
    /* INIZIO SEZIONE 7 */
    .content-seven-sec{
        width: 1000px;
        margin: 0 auto;
    }
    .frequently-sec{
        margin-top: 160px;
        margin-bottom: 41px;
        font-size: 32px;
    }
    .section-quiz{
        padding: 41px 0;
        font-size: 16px;
    }
    .fa-chevron-up,
    .fa-chevron-down        /*margine nelle lista a 3 trabtesto e icona*/
    {
        margin-right: 50px;
    }
    .quiz-border-color{
        border-bottom:2px solid var(--grey-border-p) ;
        border-top:2px solid var(--grey-border-p) ;
    }
   .list-chev-align{        /*"li" tag della lista a 3*/
        display: flex;
        justify-content: space-between; 
    }
    .chevron-hover{
        padding-top: 16px;
    }
    /* FINE SEZIONE 7 */

/* FINE MAIN */

/* FOOTER */
.foot-content,
.foot-container{
    display: flex;
}
.foot-container{
    background-color: black;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.box-list-foot{
    margin-top: 107px;
    padding-right: 53px;
}
.box-list-foot .list-foot{
    color: white;
    margin-bottom: 17px;
}
.box-list-foot :first-child{
    font-size: 16px;
    margin-bottom: 34px;
}
.foot-line{
    color: rgb(128, 128, 128, 0.6);
    padding-top: 120px;
    margin-bottom: 51px;
    width: 120px;
}
.fa-earth-americas, /*settaggio margine delle icone*/
.fa-sort-up{
    margin-right: 6px;
}
.fa-sort-up{        /*icona freccia a sinistra accanto "italiano"*/
    position: relative;
    top: 5px;
}
.icon-foot-final span{  /*colore delle icone piu la parola "italiano"*/
    color: rgb(255, 255, 255,0.6);
}
/* FINE FOOTER */

